{
  "Kestrel": {
    "Certificates": {
      "Default": {
        "Path": "<Path to SSL cert .pem file goes here>",
        "KeyPath": "<Path to private key .pem file for SSL cert goes here>"
      }
    }
  },
  "ConnectionStrings": {
    "Postgres": "<Postgres connection string goes here>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "http_ports": "80",
  "https_ports": "443",
  "SeededUsers": [
    {
      "Email": "",
      "Password": "",
      "Roles": []
    }
  ],
  "EmailManager": {
    "SendingAddress": "postman@<Domain goes here>",
    "SendingName": "Diplo Postman",
    "Domain": "<Domain goes here>",
    "ApiKey": "<Mailgun api key goes here>"
  }
}
