@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Site under development. Auth is currently unused, expect the database to go down at any time.</p>
    <p>Posted games are scraped every thirty seconds and are automatically deleted 5 days after their creation.</p>
</div>
