@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We have no privacy policy at this time. Don't put
    anything on this site that you wouldn't want on the
    front page of a tabloid.</p>
